option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: "production"
    DEBUG: "false"
    USE_DYNAMO: "true"
    AWS_REGION: "us-east-1"
    S3_BUCKET: "careerforge-pdfs-602664593597"
    GITHUB_APP_ID: "3017691"
    GITHUB_APP_SLUG: "career-forge-app"
    GITHUB_APP_CLIENT_ID: "Iv23liPtP21luM5Dj6X0"
    GITHUB_APP_PRIVATE_KEY_SECRET: "careerforge/github-app-private-key"
    GITHUB_CALLBACK_URL: "https://da4uq3j68b16w.amplifyapp.com/api/auth/callback/github"
    LINKEDIN_CALLBACK_URL: "https://da4uq3j68b16w.amplifyapp.com/api/auth/callback/linkedin"
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:service:role:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: sg-01fb345d1f689b976
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:ec2:vpc:
    ELBScheme: public
    ELBSubnets: subnet-01a8094b9dc4e140b,subnet-07df7625492f4c60d
    VPCId: vpc-063fea6581ef19e87
